.Inputfield {
	clear: both;
	box-sizing: border-box;
}
.Inputfield:not(.InputfieldSubmit) {
	margin: 1% 0;
	padding: 20px;
	border: 1px solid #eee;
	background: #fff;
}
.InputfieldHeader {
	/* primary label */
	font-weight: bold;
}
.Inputfield input[type=text],
.Inputfield input[type=email],
input#login_pass {
	width: 100%;
	border: 1px solid #eaeaea;
    border-left: 4px solid #001e5d;
    border-radius: 5px;
	box-shadow: 1px 2px 7px #cccccc45;
	padding: 8px;
}

form#LoginRegisterLoginForm h2 {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #15316b;
}

button#Inputfield_login_submit {
	color: #fff;
    background-color: #001e5d;
    border-color: #021c54;
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .25rem;
    transition: color .15s;
    width: 60%;
    display: block;
    margin: auto;
}

ul.LoginRegisterLinks {
    text-align: center;
    display: block;
    margin-top: 5%;
}

ul.LoginRegisterLinks li {
    display: block;
}

ul.LoginRegisterLinks li a {
    color: #6d6d6d;
}
.InputfieldColumnWidth {
	/* columns that are not 100% width */
	float: left;
	clear: none;
}
.InputfieldColumnWidthFirst {
	/* first column in a row of Inputfield columns */
	clear: both;
}
.InputfieldColumnWidth:not(.InputfieldColumnWidthFirst) {
	/* any column except first, in a row of Inputfield columns */
	margin-left: 1%;
}
.InputfieldPassword input {
	/* password input */
	width: 50%;
}
.LoginRegisterMessage {
	/* message notification */
	color: green;
	border: 1px solid green;
	font-weight: bold;
	padding: 10px 20px;
}
.LoginRegisterError {
	/* error notification */
	color: red;
	border: 1px solid red;
	font-weight: bold;
	padding: 10px 20px;
}