/* font family and size for Inputfield forms */
.FormBuilder, 
.InputfieldForm,
.InputfieldForm input,
.InputfieldForm textarea,
.InputfieldForm select,
.InputfieldForm button,
.ui-widget {
	font-family: 'Raleway', sans-serif;
	font-size: 16px; 
	line-height: 1.5em;
	box-sizing: border-box;
}

.InputfieldForm {
	margin: 1em 0;
}

/* additional padding for inputs and textareas */
.InputfieldForm input,
.InputfieldForm textarea {
	padding: 0.25em 0.35em;
}

/* error messages */
.FormBuilder .error, 
.InputfieldForm .error {
	color: red;
}

/* wrapper for label + input */
.Inputfield {
	margin-bottom: 1.5em;
}

/* submit button */
.InputfieldForm button {
	padding: 0.5em 1em;
}

/* label header */
.Inputfield .InputfieldHeader {
	display: block;
	font-weight: bold;
	padding-bottom: 0.25em;
}

/* show a red asterisk after label when field "required" */
.InputfieldStateRequired > .InputfieldHeader:first-child:after {
	color: red;
	content: '*';
}

/* descriptive text within Inputfields */
.Inputfield .notes,
.Inputfield .description {
	margin-bottom: 0.25em;
	margin-top: 0;
	opacity: 0.6;
}

/* styling for fieldsets and legend */
fieldset.InputfieldFieldset {
	padding: 1em;
	border: 1px solid;
}
fieldset.InputfieldFieldset legend {
	font-size: 22px;
}

/* honeypot */
#wrap_Inputfield- {
	display: none;
}

/* clearfix */
.Inputfields > .Inputfield > .InputfieldContent:before,
.Inputfields > .Inputfield > .InputfieldContent:after,
.InputfieldForm:after,
.pw-clearfix:before,
.pw-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.Inputfields > .Inputfield > .InputfieldContent:after,
.InputfieldForm:after,
.pw-clearfix:after {
	clear: both;
}
/* clearfix support for IE7 */
.pw-clearfix {
	min-height: 0; 
}


.InputfieldContent label {
    font-size: 10px;
}

fieldset#Inputfield_gastos_antiproyecto,
fieldset#Inputfield_objetos_de_gasto {
    border-color: #00a1dd;
    background: #fff;
}

.InputfieldContent .fb-multiplier-add-row {
    background: #0094cf;
    color: #fff;
    border: 0;
    border-radius: 4px;
}

 

.FormBuilder  button {color: #fff;background: #00c77e;border: 0;border-radius: 4px;float: right;}
.FormBuilder.FormBuilder-tb-anteproyecto  #wrap_Inputfield_form_estado {
    display: none;
}

input, select{ 
	border: 1px solid #eaeaea;
    border-left: 4px solid #001e5d;
    border-radius: 5px;
	box-shadow: 1px 2px 7px #cccccc45;
	min-height: 35px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
	color: #fff;
    background-color: #001e5d;
    border-color: #021c54;
    padding: 1% 3%;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 2%;
    margin-top: 5px;
    display: inline-block;
}